<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Splash</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="stylesheets/bootstrap-responsive.css">
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/default.css" >
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body  style="background:	#C8C8C8;">
<!-- navbar -->
<div class="navbar-wrapper">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<!-- Responsive navbar -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
				<h1 class="brand"><a href="/">Splash</a></h1>
				<!-- navigation -->
				<nav class="pull-right nav-collapse collapse nav team">
				<ul id="menu-main" class="nav">
					<li><a title="team" >Welcome!!</a></li>
				</ul>
				</nav>
			</div>
		</div>
	</div>
</div><br><br>


  <div class="container">
    <div class="row">
      <div class="col-xs-4">
      </div>
      <!-- <div class="span3 home-post"><br>
        <ul class="widget widget-menu unstyled" style="margin-left:20px;">
                  <li><a href=""><i class="menu-icon icon-paste"></i>&nbsp New Post </a></li><br>
                  <li><a href=""><i class="menu-icon icon-table"></i> &nbsp All Posts </a></li>
          </ul>
      </div> -->

      <div class="span9 home-post">
        <div class="content">

          <div class="module">
            <div class="module-head"><br><br>
              <h3 style="text-align: center;">Edit Your Story.</h3><hr>
            </div>

            <div class="module-body">
                <form class="form-horizontal row-fluid" method="post" action="/saveEdited">
									<input type="hidden" name="_id" value="<%= story._id %>">
									<div class="control-group">
                    <label class="control-label" for="basicinput">Title</label>
                    <div class="controls">
                      <input type="text" id="basicinput" value="<%= story.title %>" name="title" id="title" class="span8">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="basicinput">Full Story</label>
                    <div class="controls">
                      <textarea class="span8" name="story" id="story" rows="5">
                        <%= story.story %>
                      </textarea>
                    </div>
                  </div>

                  <!-- <div class="control-group">
                    <label class="control-label" for="basicinput">Picture 1</label>
                      <div class="controls">
                        <input type="file" name="fileupload1" value="fileupload" id="fileupload" required>
                      </div>
                  </div> -->

                  <div class="control-group">
                    <div class="controls">
                      <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
                    </div>
                  </div>

                </form>
            </div>
          </div>

        </div><!--/.content-->
      </div><!--/.span9-->
    </div>
  </div><!--/.container-->


</body>
</html>
